body {
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
}

.navbar {
     background-color: black;
     font-family: 'Raleway', sans-serif;
     position: fixed;
 }



.navbar a {
    color: white !important;
    padding: 0 30px 0;
}

.navbar a:hover {
    color: #aaaae2 !important;
    transition: 0.2s;
    text-decoration: none;
}

.link {

}

.navbar-brand {
    width: 50px;
}

.user-content {
    overflow-x: auto;
    margin: 3rem 1rem 3rem;
    /*border-width: 5px;*/
    /*border-style: double;*/
    /*border-color: #aaaae2;*/
    /*border-radius: 15px;*/
}

.user-club-col{
    background-color: #aaaae2;
    max-height: 100%;
}

.user-event-col{
    background-color: #f2f2f2;
}

.event-container {
    /*margin: 1em;*/
}

.event-card {
    max-width: 100%;
    min-width: 33%;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
.event-card:hover {
    border: #402263 1px solid;
    transition: 0.2s;
}
*/
.grid-card {
    padding-bottom: 10px;
    padding-top: 10px;
    border: none !important;
}

.test-row {
    padding-bottom: 15px !important;
}

.container-title {
    /*margin-top: -33px;*/
    margin-left: 5px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1000;
}

.toggle-button {
    text-align: left;
    padding-right: 16px;
}


.logo-container{
    position:relative;
    top: 0;
    right: auto;
    text-align: center;
    margin: 0 0 1rem;
    border: 1rem;
}

#loginPageVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.login-card{
    position: relative !important;
    transition: 200ms !important;
}

.login-card:hover{
    transform: scale(1.05) !important;
}

#clubButton{
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 0 20px;
    transition: 200ms;

}

#clubButton:hover{
   background-color: white;
    border: 2px solid white;
    color: #402263;
    transform: scale(1.05);
}

#userButton{
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 0 20px;
    transition: 200ms;

}

#userButton:hover{
  background-color: white;
  border: 2px solid white;
  color: #402263;
  transform: scale(1.05);
}
.user-turtle-img{
    width: 50px;
    height: 50px;
}

.custom-purple-filled-btn{
    background-color: #402263 !important;
    color: #e1cccf !important;
    border: 2px solid #402263 !important;
    margin: 3px 0 3px !important;
    transition: 200ms;
}

.custom-purple-filled-btn:hover{
    background-color: #402263 !important;
    color: white !important;
    border: 2px solid #402263 !important;
    transform: scale(1.05);
}

.custom-purple-outline-btn{
    background-color: white !important;
    color: #402263 !important;
    border: 2px solid #402263 !important;
    margin: 3px 0 3px !important;
    transition: 200ms;
}
.custom-purple-outline-btn:hover {
    background-color: #402263 !important;
    color: white !important;
    border: 2px solid #402263 !important;
    transform: scale(1.05);
}
.custom-white-outline-btn{
    background-color:transparent !important;
    color: white !important;
    border: 2px solid white !important;
    margin: 3px 0 3px !important;
    transition: 200ms;

}

.custom-white-outline-btn:hover{
    background-color:white !important;
    color: #402263 !important;
    border: 2px solid white !important;
    margin: 3px 0 3px !important;
    transform: scale(1.05);

}




.outline-info {
    margin-left: 30px;
}

.club-register-button {
    padding-top: 10px;
}

.login-brand {
    font-family: 'Montserrat Subrayada', sans-serif !important;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}

.user-club-card, .club-card {
    padding-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    transition: 200ms;

}

.club-card:hover{
    transform: scale(1.05);
}
.user-club-card:hover{
    transform: scale(1.1);
}

.event-list-card{
background-color: white;
    text-transform: capitalize;
}


/*CLUB PAGE*/
.club-page .header-div{

    position: relative;
    text-align: center;
    color: white;
}

.club-page .header-text{
    font-size: 6vw;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-weight: 900;
}

.club-page .welcome-text{
    font-size: 4vw;
    position: absolute;
    font-family: 'Pacifico', sans-serif;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.club-page .header-image{
   width: 100%;
}


