body {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}

.navbar {
     background-color: black;
     font-family: 'Raleway', sans-serif;
     position: fixed;
 }



.navbar a {
    color: white !important;
    padding: 0 20px 0;
}

.navbar a:hover {
    color: #aaaae2 !important;
    transition: 0.2s;
    text-decoration: none;
}

.link {

}

.navbar-brand {
    position: relative;
    width: 50px;
    height: 50px;
}

/*************************************************** USER PAGE ***************************************************/

.user-content {
    overflow-x: auto;
    margin: 4rem 1rem 3rem;
    /*border-width: 5px;*/
    /*border-style: double;*/
    /*border-color: #aaaae2;*/
    /*border-radius: 15px;*/
}

.user-club-col{
    background-color: #aaaae2;
    max-height: 100%;

}

.user-event-col{
    background-color: #f2f2f2;
    text-align: center;
    align-items: center;
}

.event-container {
    /*margin: 1em;*/
}

.event-item {
    max-width: 100%;
    min-width: 33%;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.club-list-row{
    justify-content: center;
}
.event-list-row{
    justify-content: center;
}

/*
.event-card:hover {
    border: #402263 1px solid;
    transition: 0.2s;
}
*/
.grid-card {
    padding-bottom: 10px;
    padding-top: 10px;
    border: none !important;
}

.test-row {
    padding-bottom: 15px !important;
}

.container-title {
    /*margin-top: -33px;*/
    margin-left: 5px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family:  Raleway, Roboto Slab, serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1000;
}

.toggle-button {
    text-align: center;
    margin-top: 20px;

}

.user-club-card, .club-card {
    margin: 10px 0 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 200ms;
    width: 300px;
    box-shadow: 0 2px #aaaae2;
    justify-content: center;
}

.club-card:hover{
    transform: scale(1.05);
}

.user-club-card:hover{
    transform: scale(1.1);
}

.event-card {
    margin: 10px 0 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 200ms;
    width: 300px;
    box-shadow: 0 2px #aaaae2;
    justify-content: center;
}

.event-card:hover{
    transform: scale(1.05);
}

.no-events-to-register .msg{
    padding: 20px 20px 0 ;
    font-family: Pacifico, sans-serif;
    font-size: 1.8rem;
    color:  #aaaae2;
    text-align: center;
}

.no-clubs-to-join .msg{
    padding: 20px 20px 0 ;
    font-family: Pacifico, sans-serif;
    font-size: 1.8rem;
    color:  #aaaae2;
    text-align: center;
}

.no-clubs-yet .msg{
    padding: 50px 0 0;
    font-family: Pacifico, sans-serif;
    font-size: 1.5rem;
    color: #aaaae2;
    text-align: center;
}


.no-events-yet .msg{
    padding: 50px 0 0;
    font-family: Pacifico, sans-serif;
    font-size: 1.5rem;
    color: #f2f2f2;
    text-align: center;
}

.club-event-list-col .no-events-created .msg{
    padding: 70px 0 0;
    font-family: Pacifico, sans-serif;
    font-size: 1.5rem;
    color: #aaaae2;
    text-align: center;

}

.club-event-list-col .event-list-row{
    justify-content: center;
}



/****************************************************** Login **************************************************/

.logo-container{
    position:relative;
    top: 0;
    right: auto;
    text-align: center;
    margin: 0 0 1rem;
    border: 1rem;
}

#loginPageVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.login-card{
    position: relative !important;
    transition: 200ms !important;
}

.login-card:hover{
    transform: scale(1.05) !important;
}

/****************************************************** Buttons ********************************************************/

#clubButton{
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 0 20px;
    transition: 200ms;

}

#clubButton:hover{
   background-color: white;
    border: 2px solid white;
    color: #402263;
    transform: scale(1.05);
}

#userButton{
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 0 20px;
    transition: 200ms;

}

#userButton:hover{
  background-color: white;
  border: 2px solid white;
  color: #402263;
  transform: scale(1.05);
}
.user-turtle-img{
    width: 50px;
    height: 50px;
}

.custom-purple-filled-btn{
    background-color: #402263 !important;
    color: #e1cccf !important;
    border: 2px solid #402263 !important;
    margin: 3px 0 3px !important;
    transition: 200ms;
}

.custom-purple-filled-btn:hover{
    background-color: #402263 !important;
    color: white !important;
    border: 2px solid #402263 !important;
    transform: scale(1.05);
}

.custom-purple-outline-btn{
    background-color: white !important;
    color: #402263 !important;
    border: 2px solid #402263 !important;
    margin: 3px 0 3px !important;
    transition: 200ms;
}
.custom-purple-outline-btn:hover {
    background-color: #402263 !important;
    color: white !important;
    border: 2px solid #402263 !important;
    transform: scale(1.05);
}
.custom-white-outline-btn{
    background-color:transparent !important;
    color: white !important;
    border: 2px solid white !important;
    margin: 3px 0 3px !important;
    transition: 200ms;

}

.custom-white-outline-btn:hover{
    background-color:white !important;
    color: #402263 !important;
    border: 2px solid white !important;
    margin: 3px 0 3px !important;
    transform: scale(1.05);

}




.outline-info {
    margin-left: 30px;
}

.club-register-button {
    padding-top: 10px;
}

.event-list-card{
background-color: white;
    text-transform: capitalize;
}


/***************************************************CLUB PAGE***************************************************/
.club-page .header-div{
    min-height: 400px;
    position: relative;
    text-align: center;
    color: white;
    background: url('../images/img-bg.jpg');
    background-size: cover;
}

.club-page .header-text{
    font-size: 6vw;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-transform: capitalize;
    font-weight: 900;
}

.club-page .welcome-text{
    font-size: 4vw;
    position: absolute;
    font-family: 'Pacifico', sans-serif;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.club-page .header-image{
   min-width: 100%;

}

.bg-full-img{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.create-event-page .title {
    position: relative;
    text-align: center;
    font-family: Pacifico, sans-serif;
    color: white;
    margin: 30px 0 40px;
}

.club-page .create-event-btn{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Raleway, sans-serif;
    font-size: 2vw;
    font-weight: 500;
    transition: 200ms;
}

.club-page .create-event-btn:hover{
    transform: translate(-50%, 0) scale(1.1) ;
}

.club-pg-row {
    height: 100%;
}

.club-pg-row .club-info-col{
    background-color: #aaaae2;
    padding: 5% 5%;
    font-family: "Raleway", sans-serif;
    font-size: large;
}

.club-pg-row .club-info-col .heading{
    color: #402263;
   padding-top: 20px;

}

.no-events-created .msg{
    padding: 20px 20px 0 ;
    font-family: Pacifico, sans-serif;
    font-size: 1.8rem;
    color:  #aaaae2;
    text-align: center;
}

.club-pg-row .club-info-col .content{
   color: white;
}

.club-pg-row .club-event-list-col{
    text-align: center;
    justify-content: center;
    padding: 3% 3%;
    margin-top: 10px;
    color: #402263;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.club-event-card{
    margin: 10px 0 10px;
    text-align: center;
    text-transform: capitalize;
    transition: 200ms;
    width: 400px;
    box-shadow: 0 2px #aaaae2;
}

.club-event-card:hover{
    transform: scale(1.1);
}




/***************************************************User Page Default button*******************************/

.more-clubs-row{
    background-color: #402263;
    text-align: center;
    padding: 5%;
    background: url('../images/img-bg.jpg');
    background-size: cover;
}
.more-clubs-row .text{
    font-size: 4vw;
    font-family: 'Pacifico', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}


.more-clubs-row .create-event-btn{

     font-family: Raleway, sans-serif;
     font-size: 2vw;
     font-weight: 500;
     transition: 200ms;

 }

.more-clubs-row .create-event-btn:hover{
    transform: scale(1.1) ;
}

.new-user-row .text{
    font-size: 4vw;
    position: absolute;
    font-family: 'Pacifico', sans-serif;
    left: 50%;
    transform: translate(-50%, -500%);
    color: white;
    height: 200px;
    background-color: #402263;
}

.new-user-row .header-image{
    width: 100%;
}
.new-user-row .create-event-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 550%);
    font-family: Raleway, sans-serif;
    font-size: 2vw;
    font-weight: 500;
    transition: 200ms;
}

.new-user-row .create-event-btn:hover{
    transform: translate(-50%, 550%) scale(1.1) ;
}

/*was 800px before*/
@media (max-width: 1000px) {

    .new-user-row .create-event-btn{
        position: absolute;
        left: 50%;
        transform: translate(-50%,400%);
        font-family: Raleway, sans-serif;
        font-size: 2vw;
        font-weight: 500;
        transition: 200ms;
    }

    .new-user-row .create-event-btn:hover{
        transform: translate(-50%, 400%) scale(1.1) ;
    }

    .club-pg-row .club-info-col{
        text-align: center;
    }

    .club-page .header-text{
        font-size: 8vw;
    }

    .club-page .create-event-btn{
        font-size: 3vw;
    }
}

