.navbar {
    background-color: #402263;
    opacity: 0.95;
    font-family: 'Lato', sans-serif;
}

.navbar a {
    color: white !important;
}

.navbar-brand {
    font-family: 'Montserrat Subrayada', sans-serif !important;
    font-size: 30px !important;
}

.left-content {
    overflow-x: scroll;
    margin: 3em;
    border-width: 5px;
    border-style: double;
    border-color: #aaaae2;
    border-radius: 15px;

}

.event-container {
    margin: 2em;
}

.event-card {
    max-width: 18rem;
}

h3 {
    margin-top: 20px;
    margin-left: 5px;
    background: white;
}