
.navbar {
    background-color: #402263;
    opacity: 0.95;
    font-family: 'Lato', sans-serif;
}

.navbar a {
    color: white !important;
}

.navbar-brand {
    font-family: 'Montserrat Subrayada', sans-serif !important;
    font-size: 30px !important;
}